<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<main class="game-details">
    <div class="hero-banner">
        <img th:src="${game.getUrlCover()}" th:alt="${game.getName()} + 'game image'" />
        <span th:text="${game.getName()}"></span>
    </div>
    <div class="details">
        <div class="card">
            <div class="infos">
                <div class="top">
                    <div class="studio-date">
                        <span class="studio" th:text="${game.getStudio()}"></span>
                        <span> - </span>
                        <span class="released-date" th:text="${game.getReleaseDate().getMonth()+1 + ' ' + game.getReleaseDate().getDate() + ', ' + game.getReleaseDate().getYear()}"></span>
                    </div>
                    <div class="stars">
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                    </div>
                </div>
                <p class="description" th:text="${game.getDescription()}"></p>
            </div>
            <div class="separation-line"></div>
            <div class="quiz">
                <h2>All the quiz about this game</h2>
                <div class="quiz-list">
                    <a th:each="quiz: ${quiz}" th:href="'/answer?uuid=' + ${quiz.getUuidQuiz()}" class="quiz-item">
                        <h3 th:text="${quiz.getQuizTitle()}"></h3>
                        <span th:text="${quiz.getAuthor().getUsername()}"></span>
                    </a>
                </div>
                <a th:href="'/createQuiz?uuid=' + ${game.getUuid()}" class="button boxed-button">Create a new quiz</a>
            </div>
        </div>
        <div class="score" th:text="${game.getMark()}"></div>
        <div class="check">
            <a th:href="'/addDonelist?videoGameUUID=' + ${game.getUuid()}" class="checkbox"></a>
        </div>
        <div class="save">
            <a th:href="'/addTodolist?videoGameUUID=' + ${game.getUuid()}" class="save-icon"></a>
        </div>
    </div>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>