<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<main class="game-details">
    <div class="hero-banner">
        <img th:src="${game.getUrlCover()}" th:alt="${game.getName()} + 'game image'"/>
        <span th:text="${game.getName()}"></span>
    </div>
    <div class="details">
        <div class="card">
            <div class="infos">
                <div class="top">
                    <div class="studio-date">
                        <span class="studio" th:text="${game.getStudio()}"></span>
                        <span> - </span>
                        <span class="released-date"
                              th:text="${game.getReleaseDate().getMonth()+1 + ' ' + game.getReleaseDate().getDate() + ', ' + game.getReleaseDate().getYear()}"></span>
                    </div>
                    <form id="rating-form" method="post" action="">
                        <div class="stars">
                            <div class="half-star-left" data-rating="0.5"></div>
                            <div class="half-star-right" data-rating="1"></div>
                            <div class="half-star-left" data-rating="1.5"></div>
                            <div class="half-star-right" data-rating="2"></div>
                            <div class="half-star-left" data-rating="2.5"></div>
                            <div class="half-star-right" data-rating="3"></div>
                            <div class="half-star-left" data-rating="3.5"></div>
                            <div class="half-star-right" data-rating="4"></div>
                            <div class="half-star-left" data-rating="4.5"></div>
                            <div class="half-star-right" data-rating="5"></div>
<!--                            <div class="star" data-rating="2"></div>-->
<!--                            <div class="star" data-rating="3"></div>-->
<!--                            <div class="star" data-rating="4"></div>-->
<!--                            <div class="star" data-rating="5"></div>-->
                            <input name="uuidVideoGame" type="hidden" value="">
                            <input name="uuidUser" type="hidden" value="">
                            <input name="mark" type="hidden" value="0">
                        </div>
                    </form>
                    <script>
                        // const stars = document.querySelectorAll('.star');
                        // const markInput = document.querySelector('input[name="mark"]');
                        //
                        // stars.forEach(star => {
                        //     star.addEventListener('mouseenter', () => {
                        //         const rating = star.getAttribute('data-rating');
                        //         markInput.value = rating;
                        //         // Vous pouvez également ajouter du code pour mettre en surbrillance les étoiles au survol si vous le souhaitez.
                        //     });
                        //
                        //     star.addEventListener('click', () => {
                        //         // Remettre à zéro la valeur de l'input lorsque la souris quitte les étoiles.
                        //         console.log(markInput.value)
                        //     });
                        // });
                    </script>

                </div>
                <p class="description" th:text="${game.getDescription()}"></p>
            </div>
            <div class="separation-line"></div>
            <div class="quiz">
                <h2>All the quiz about this game</h2>
                <div class="quiz-list">
                    <a th:href="'/answerQuiz?uuid=' + ${game.getUuid()}" class="quiz-item">
                        <h3>Name quiz 1</h3>
                        <span>By NameUser</span>
                    </a>
                    <a href="/" class="quiz-item">
                        <h3>Name quiz 2</h3>
                        <span>By NameUser</span>
                    </a>
                    <a href="/" class="quiz-item">
                        <h3>Name quiz 3</h3>
                        <span>By NameUser</span>
                    </a>
                    <a href="/" class="quiz-item">
                        <h3>Name quiz 4</h3>
                        <span>By NameUser</span>
                    </a>
                </div>
                <a th:href="'/createQuiz?uuid=' + ${game.getUuid()}" class="button boxed-button">Create a new quiz</a>
            </div>
        </div>
        <div class="score" th:text="${game.getMark()}"></div>
        <div class="check">
            <div class="checkbox"></div>
        </div>
        <div class="save">
            <div class="save-icon"></div>
        </div>
    </div>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>